.button {
  background-color: $orange;
  color: $white;
  height: 40px; 
  padding: 0 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 14px;
  border: 1px solid $orange;
  transition: background-color, color, 0.3s ease-in-out;
  &:hover {
    background-color: $white;
    color: $orange;
  }
}