.comments-list {
  li {
    margin-bottom: 10px;
    font-size: 16px;
    @media (max-width: 480px) {
      font-size: 14px;
    }
  }
  a {
    color: gray;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    &:hover {
      text-decoration: underline;
    }
  }
}