.item-info {
  @media (max-width: 480px) {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
  }
  span {
    font-size: 14px;
    color:$gray;
    margin-right: 10px;
    @media (max-width: 480px) {
      font-size: 13px;
      margin: 0;
      margin-bottom: 4px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    @media (min-width: 480px) {
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .comments-time {
    &:first-word {
      color: red;
    }
  }
  .comments {
    a {
      @extend span;
    }
  }
}