.wrapper-loader {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.loader {
  border: 8px solid $white;
  border-radius: 50%;
  border-top: 8px solid $orange;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  display: inline-block;
}
.waiting {
  color: $orange;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
  display: block;
  animation: waiting 3s;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
// end spin animation

@-webkit-keyframes waiting {
  0% { 
    -webkit-transform: translateX(-80px);
    opacity: 0; 
  }
  40% { 
    opacity: 0; 
  }
  100% { 
    -webkit-transform: translateX(0);
    opacity: 1; 
  }
}
@keyframes waiting {
  0% { 
    transform: translateX(-80px);
    opacity: 0; 
  }
  40% { 
    opacity: 0; 
  }
  100% { 
    transform: translateX(0);
    opacity: 1; 
  }
}
// end please waiting animation