.progress-bar {
  width: 300px;
  height: 20px;
  border: 1px solid $orange;
  position: relative;
  .bar {
    background-color: $orange;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}