.store-list {
  padding: 0 40px 120px;
  li {
    margin-bottom: 8px;
  }
  a {
    color: $black;
    font-size: 18px;
    &:hover {
      text-decoration: underline;
    }
    @media (max-width: 480px) {
      font-size: 16px;
    }
  }
}