.subcomments-list {
  padding-left: 30px;
  display: none;
  @media (max-width: 480px) {
    padding-left: 8px;
  }
  &.active {
    display: block;
  }
  li {
    padding: 10px;
    @media (max-width: 480px) {
      padding: 8px 0;
    }
  }
}
.sub-comments {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.show-more-btn {
  font-size: 14px;
  color: gray;
  display: inline-flex;
  align-items: center;
  position: relative;
  transition: color .3s ease-in-out;
  &.active {
    &:after {
      transform: rotate(180deg);
    }
  }
  cursor: pointer;
  &:hover {
    color: black;
  }
  &:after {
    content: '\25be';
    font-size: 18px;
    margin-left: 4px;
  }
}